.menu-buttons-wrapper {
  margin-top: 10px;
}

.menu-button {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  background-color: #fff;
}

.menu-button > img {
  height: 30px;
  width: 30px;
}

.buttons-isdark {
  border: 1px solid #a4a4a4;
  background-color: #828282;
}